<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New
                        Data</a></p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Latest Mars News</h2>
                </div>
            </div><br>

            <div class="row">
                <div class="col-md-12">
                    <h3> {{mars.news_title}} </h3><br>
                    <p> {{mars.news_p}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 border">
                    <h2 class=""><u>Featured Mars Image</u></h2>
                    </br>
                    <img class="col-md-12 border" src="{{mars.featured_image_url}}"
                        alt="Featured Mars Image">
                </div>
                <div class="col-md-4">

                    </br>
                    <div class="card">
                        <h3>Mars Facts</h3>
                        {{ mars.mars_fact}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 border">
                    {{Loop through image_urls and titles and print them here}}
                </div>
            </div>

        </div>
    </body>

</html>